.note {
  display: grid;
  grid-template-columns: 50px auto;
  background-color: #dadada08;
  box-shadow: 0 0px 18px rgba(23, 23, 23, 0.18);
  transition: 0.1s;
  background-color: rgba(242, 242, 242, 0.38);
  min-height: "800px";

  transition: 0.3s;
  @media (max-width: 768px) {
    background-color: transparent;
    box-shadow: none;
    display: block;
  }
}

.note:hover {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.333);
  transform: translateY(10px);
  @media (max-width: 768px) {
    box-shadow: none;
    transform: none;
  }
}
