.layout {
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0px 2px 12px 6px rgba(202, 202, 202, 0.3);
  border-radius: 12px;
}

.layout > button {
  position: fixed;
  z-index: 999;
  background-color: transparent;
  border-color: transparent;
  border-radius: 30px;
  cursor: pointer;
}

.layout > button > i {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100%;
}
.upBtn {
  left: 80%;
  top: 85vh;
}
.upBtn > i {
  background-color: rgb(53, 53, 53);
  color: white;
}
.bigBtn {
  left: 80%;
  top: 77vh;
}
.smallBtn {
  left: 80%;
  top: 70vh;
}
