.headerNav {
  text-align: end;
  margin-right: 15px;
}
.content_sub {
  font-size: 0.7rem;
}

/* ---------------- OPTION BOX --------------- */
.main_optionBox,
.main_optionBox--kakao {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
}
.main_optionBox {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(222, 222, 222, 0.428);
}
.main_optionBox div,
.main_optionBox--kakao div {
  font-size: 0.6rem;
}

.main_optionBox--kakao > div {
  margin: 5px;
}
.main_optionIcon--border {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 0.5px solid rgb(207, 207, 207);
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_optionIcon--border i {
  font-size: 18px;
}

.main_optionIcon--redBack {
  grid-column: 1 / 4;
  background-color: red;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 0 auto;
}
.main_optionIcon--redBack i {
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

/* ---------------- KAKAO --------------- */

.profileBox {
  background-color: rgb(141, 200, 253);
  width: 40px;
  height: 40px;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.profileBox i {
  color: rgb(214, 240, 255);
  font-size: 24px;
}
