.layout {
  display: grid;
  grid-template-rows: repeat(9, 33px);
  overflow: hidden;
}

/* ---------------------HEADER---------------------------- */
.main_header {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 24px auto 16px;
  align-items: center;
  background-color: white;
  z-index: 100;
}

.firstNameBox {
  background-color: bisque;
  border-radius: 100%;
  text-align: center;
}
.nameBox {
  margin-left: 10px;
}
/* ---------------------MESSAGE---------------------------- */
.messages {
  grid-row: 2/9;
}
.messagesSmall {
  grid-row: 2/5;
}
.messagesSmall--2to4 {
  grid-row: 2/4;
  /* overflow-y: hidden; */
  position: relative;
  top: -40px;
  z-index: 0;
}
.sendMessage,
.getMessage {
  display: flex;
  align-items: flex-end;
}

.sendMessage {
  justify-content: end;
}
.sendMessage > div:nth-child(2),
.getMessage > div:nth-child(1) {
  max-width: 70%;
  padding: 6px;
  border-radius: 18px;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.sendMessage > div:nth-child(1),
.getMessage > div:nth-child(2) {
  font-size: 0.5rem;
}
.sendMessage > div:nth-child(2) {
  background-color: rgb(171, 214, 242);
}

.getMessage > div:nth-child(1) {
  background-color: rgb(226, 226, 226);
}
/* ---------------------OPTION INFO---------------------------- */
.optionInfoWrap {
  grid-row: 4/6;
  border-top: 1px solid rgb(226, 226, 226);
  width: 160px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.optionInfoWrap::-webkit-scrollbar {
  display: none;
}
.optionImgWrap {
  display: flex;
}

.imgBox {
  background-color: antiquewhite;
  width: 38px;
  height: 38px;
  position: relative;
  text-align: center;
  border-radius: 6px;
}

.deleteBtn {
  position: relative;
  top: 0px;
  right: 10px;
  align-self: normal;
  z-index: 100;
  cursor: pointer;
}
.deleteBtn i {
  color: red;
  background-color: white;
  border-radius: 100%;
}
/* --------------------- NAV---------------------------- */
.appNav {
  padding: 0 3px;
  grid-row: 9/10;
  display: grid;
  grid-template-columns: auto auto 15%;
  align-items: center;
  background-color: white;
  font-size: 0.8rem;
}
.appNavSmall {
  grid-row: 5/6;
  animation: fadeInUp 0.5s;
}
.appNavSmall--6to7 {
  grid-row: 6/7;
  animation: fadeInUp 0.5s;
}

.navOptions {
  display: flex;
  justify-content: space-around;
}

.navOptions div {
  margin-right: 5px;
}

.inputBox {
  display: grid;
  grid-template-columns: auto 16px;
  align-items: center;
}

.inputBox input {
  width: 90%;
  background-color: transparent;
  border-color: transparent;
}

.sendIcon,
.soundIcon {
  border-radius: 18px;
  margin: 0 0 0 3px;
  height: fit-content;
  text-align: center;
  cursor: pointer;
}

/* SelectResend */
.options {
  background-color: white;
  box-shadow: 0 8px 8px rgba(184, 184, 184, 0.473);
  border-radius: 12px;
  font-size: 0.8rem;
  max-width: max-content;
  padding: 5px 10px;
  position: relative;
  top: -80px;
  left: 60px;
  z-index: 500;
}

.options div {
  margin-bottom: 10px;
}

/*  */
.optionBox {
  /* padding: 10px; */
  grid-row: 7/10;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  animation: fadeInUp 0.5s;
  background-color: rgba(239, 239, 239, 0.247);
}
.optionBox_background--grey {
  padding: 10px;
  grid-row: 6/10;
  background-color: rgba(227, 227, 227, 0.803);
  border-radius: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  animation: fadeInUp 0.5s;
}

.optionBox::-webkit-scrollbar,
.optionBox_background--grey::-webkit-scrollbar {
  display: none;
}

.optionRow {
  display: grid;
  grid-template-columns: repeat(4, 38px);
  text-align: center;
  margin-bottom: 10px;
}

.optionRow div {
  font-size: 0.6rem;
  margin: 0 auto;
}

.iconWrap {
  background-color: white;
  border-radius: 100%;
  max-width: fit-content;
  max-height: fit-content;
  padding: 2px 6px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0.7;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
