.box {
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 8px 8px rgba(23, 23, 23, 0.077);
  padding: 3rem;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.38);
  transition: 0.1s;
  margin: 0 auto;

  @media (max-width: 400px) {
    padding: 3rem 1rem;
    margin: 0;
  }
}

.box:hover {
  cursor: pointer;
  box-shadow: 0 4px 22px rgba(23, 23, 23, 0.157);
  transform: translateY(-15px);
}

.title {
  text-align: center;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity));
  @media (min-width: 640px) {
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
  }
}
