.navLayout {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0 0;
  height: 30px;
  width: 170px;
  padding-left: 5px;
  font-size: 0.8rem;
}
.navLayout i {
  font-size: 0.8rem;
}

.nav_title {
  align-self: center;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 500;
}
.rNav,
.lNav {
  display: flex;
  justify-content: space-around;
}
